/* Overlay disclaimer on everything, light grey, huge, small caps */

#disclaimer {position: absolute; top: 294px; color: #ccc; text-align: center; width: 716px; font-size: 72pt; font-variant: small-caps}

/* Macro layout */

/* Generate three columns of content in the main part of the page */
#main {position: relative}
#left {position: absolute; top:0; left:0}
#right {position: absolute; top:0; right:0}
#bottom {clear: both}
/* Minimum width calculation:
   W = 732 = A + B + C + D + E + F + G
   A =   8 = body margin left
   B = 100 = #left width
   C =   8 = #left margin right
   D = 500 = #center min width
   E =   8 = #right margin left
   F = 100 = #right width
   G =   8 = body margin right
 */
html {min-width: 732px}       /* W */
body {min-width: 716px}       /* W - (A + G) */
body {margin-left: 8px}       /* A */
#left {width: 100px}          /* B */
#center {margin-left: 108px}  /* B + C */
		      	      /* D is implicitly 500 */
#center {margin-right: 108px} /* E + F */
#right {width: 100px}         /* F */
body {margin-right: 8px}      /* G */

/* Micro layout */

/* Top is centered */
#top {text-align: center}
/* Links on left are a list with no bullet points */
ul {list-style-type: none; padding: 0}
/* Main content is separated from top & bottom by horizontal lines */
#main {border-top: 2px solid black; border-bottom: 2px solid black}
/* Space out the form and graph vertically */
svg {margin-bottom: 16px}
/* Copyright blurb is right justified */
#bottom {text-align: right}

/* Fonts */

/* Default font for the whole page */
html {font-family: helvetica, arial, sans-serif}
/* Different font for the banner */
#banner {font-family: palatino, "palatino linotype", serif}
/* Ads not enabled yet, so mute the placeholder text */
/* Note that CSS officially spells grey as "gray" */
#right {font-variant: small-caps; color: gray}
/* Copyright is grey, italic, and scripty */
/* Note that CSS officially spells grey as "gray" */
#bottom {color: gray; font-style: italic; font-family: palatino, "palatino linotype", serif}
